@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

body {
    font-family: "Roboto", Arial, sans-serif;
    min-height: 100vh;
    background-color: #101010;
}

h1 {
    font-size: calc(2.8em + 2.6vw);
    padding: 0 0 0 35px;
    font-weight: 700;
    background-image: linear-gradient(to left, #553c9a, #b393d3);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

p {
    padding: 0 20px 0 0;
    font-size: calc(14px + .25vw);
    font-weight: 400;
    line-height: 2;
    margin-bottom: 1em;
    color: #fcfcfc;
    display: block;
}

a {
    text-decoration: none;
}

.title {
    font-size: calc(20px + 1.5vw);
    font-weight: 700;
    letter-spacing: .01em;
    color: #fff;
    margin: 0 0 0 0;
}

.metadata {
    font-size: calc(14px + .25vw);
    font-weight: 400;
    line-height: 2;
    margin-bottom: calc(64px + 2vw);
    color: #fcfcfc;
}